{{ ansible_managed | comment }}
[Unit]
{% if item.timer.unit is not defined %}
{% if item.service is not defined or item.service.unit is not defined %}
Description={{ item.name }} timer
{% else %}
Description={{ item.service.unit.description | default(item.name) }} timer
{% endif %}
{% else %}
{% set val = item.timer.unit %}
{% if val.description is defined %}
Description={{ val.description }}
{% elif item.service is not defined or item.service.unit is not defined %}
Description={{ item.name }} timer
{% else %}
Description={{ item.service.unit.description | default(item.name) }} timer
{% endif %}
{% if val.after is defined and val.after | length > 0 %}
{% for service in val.after %}
After={{ service }}
{% endfor %}
{% endif %}
{% if val.requires is defined and val.requires | length > 0 %}
{% for service in val.requires %}
Requires={{ service }}
{% endfor %}
{% endif %}
{% if val.extra is defined %}{{ val.extra }}{% endif %}
{% endif %}

[Timer]
{% set val = item.timer.timer %}
{% if val.oncalendar is defined %}
Persistent={{ val.persistent | bool_to_yes('yes') }}
OnCalendar={{ val.oncalendar }}
{% endif %}
{% if val.onbootsec is defined %}
OnBootSec={{ val.onbootsec }}
{% endif %}
{% if val.onunitactivesec is defined %}
OnUnitActiveSec={{ val.onunitactivesec }}
{% endif %}
{% if val.extra is defined %}{{ val.extra }}{% endif %}

[Install]
{% if item.timer.install is not defined %}
WantedBy=timers.target
{% else %}
{% set val = item.timer.install %}
WantedBy={{ val.wantedby | default('timers.target') }}
{% if val.extra is defined %}{{ val.extra }}{% endif %}
{% endif %}
