{{ ansible_managed | comment }}
[Unit]
{% if item.service.unit is not defined %}
Description={{ item.name }}
{% else %}
{% set val = item.service.unit %}
Description={{ val.description | default(item.name) }}
{% if val.after is defined and val.after | length > 0 %}
{% for service in val.after %}
After={{ service }}
{% endfor %}
{% endif %}
{% if val.requires is defined and val.requires | length > 0 %}
{% for service in val.requires %}
Requires={{ service }}
{% endfor %}
{% endif %}
{% endif %}

[Service]
{% if item.service.service is not defined %}
ExecStart={{ systemd_script_install_path }}/{{ item.name }}
{% else %}
{% set val = item.service.service %}
Type={{ val.type | default('oneshot') }}
{% if val.user is defined %}
User={{ val.user }}
{% endif %}
{% if val.group is defined %}
Group={{ val.group }}
{% endif %}
{% if val.remainafterexit is defined %}
RemainAfterExit={{ val.remainafterexit | bool_to_yes }}
{% endif %}
{% if val.environment is defined and val.environment | length > 0 %}
{% for env in val.environment %}
Environment={{ env }}
{% endfor %}
{% endif %}
{% if val.exec_start is not defined or val.exec_start | length == 0 %}
ExecStart={{ systemd_script_install_path }}/{{ item.name }}
{% else %}
{% for es in val.exec_start %}
ExecStart={{ es }}
{% endfor %}
{% endif %}
{% endif %}

[Install]
{% if item.service.install is not defined %}
WantedBy=multi-user.target
{% else %}
{% set val = item.service.install %}
WantedBy={{ val.wantedby | default('multi-user.target') }}
{% endif %}
