---

sbctl_enroll: false
sbctl_enroll_microsoft: true

esp_src: "UUID=538E-A9BF"
esp_disk: "/dev/disk/by-id/nvme-Samsung_SSD_970_EVO_500GB_S466NB0K423668X"
esp_mount: "/efi"
extra_kernel_params: "nowatchdog nvidia-drm.modeset=1"
kernel_params: "root=/dev/mapper/root rootflags=subvol=@ {{ extra_kernel_params }}"

network_manager: "systemd-networkd"

boot_loader: "refind"

sbctl_sign_files:
  - "/boot/vmlinuz-linux"
  - "/boot/vmlinuz-linux-lts"
  - "{{ esp_mount }}/EFI/Boot/bootx64.efi"

pacman_packages: "{{ base_pacman_packages + host_pacman_packages }}"
aur_packages: "{{ base_aur_packages + host_aur_packages }}"

host_pacman_packages:
  - amd-ucode
  - nvidia-dkms
  - nvidia-settings

host_aur_packages: []

mkinitcpio_uefi_add: false
mkinitcpio_kernels:
  - name: linux
    label: "Arch Linux"
    filename: "linux.efi"
  - name: linux-lts
    label: "Arch Linux LTS"
    filename: "linux-lts.efi"

mkinitcpio_modules: "nvidia nvidia_modeset nvidia_uvm nvidia_drm"
