---

wireguard_port: 51823
wireguard_interface: "mt"
wireguard_addresses:
  - "{{ wireguard_ip }}/{{ wg_net[host_wg_net].cidr | ansible.utils.ipaddr('prefix') | string }}"

wireguard_dns_list:
  - "{{ hostvars['rb5009'].wireguard_ip }}"

wireguard_mt_allowed_ips:
  - "{{ hostvars['rb5009'].wireguard_ip }}/32"
  - "{{ subnets.mt.webgw }}"
  - "{{ firewall_trusted_sources | ansible.utils.reduce_on_network(wg_net.mt.cidr) }}"

wireguard_dns: "{{ wireguard_dns_list | join(', ') }}"
wireguard_private_key: "{{ lookup('community.general.passwordstore', 'network/' + inventory_hostname + '_wg_pk') }}"
wireguard_public_key: "{{ vault_wireguard_public_key }}"
wireguard_endpoint: "{{ vault_wireguard_endpoint }}"

wireguard_unmanaged_peers:
  mt:
    endpoint: "{{ hostvars['rb5009'].wireguard_endpoint }}"
    allowed_ips: "{{ wireguard_mt_allowed_ips | flatten | join(', ') }}"
    public_key: "{{ hostvars['rb5009'].wireguard_public_key }}"
    preshared_key: "{{ lookup('community.general.passwordstore', 'network/' + inventory_hostname + '_wg_psk_mt') }}"
