[submodule "roles/prometheus"]
	path = roles/prometheus
	url = https://gitlab.com/cosandr/ansible-prometheus
[submodule "roles/grafana"]
	path = roles/grafana
	url = https://gitlab.com/cosandr/ansible-grafana
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://gitlab.com/cosandr/ansible-nginx
