[submodule "roles/prometheus"]
	path = roles/prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus
[submodule "roles/grafana"]
	path = roles/grafana
	url = https://github.com/cloudalchemy/ansible-grafana
