[submodule "roles/prometheus"]
	path = roles/prometheus
	url = git@github.com:cosandr/ansible-prometheus.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = git@github.com:cosandr/ansible-grafana.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git
[submodule "roles/unattended-upgrades"]
	path = roles/unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "library/aur"]
	path = library/aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "roles/wireguard"]
	path = roles/wireguard
	url = git@github.com:cosandr/ansible-role-wireguard.git
[submodule "roles/alertmanager"]
	path = roles/alertmanager
	url = git@github.com:cosandr/ansible-alertmanager.git
