.ansible/
.secrets/
__pycache__
*.retry
*.pyc
.cache/
.vscode/*
.vscode/.*
!.vscode/settings.*.json
files/k8s/credentials/*
ansible_collections/*
!ansible_collections/andrei
roles/geerlingguy.*
roles/cosandr.*
roles/cloudalchemy.*
roles/elastic.*

playbooks/test.yml
