[ssh_connection]
pipelining=True
ansible_ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null

[defaults]
roles_path = roles
inventory = inventory
filter_plugins = filter_plugins
vault_password_file = gopass-vault.sh
library = ./library
module_utils = ./module_utils
host_key_checking = False
force_handlers = True

[inventory]
enable_plugins = ini

[passwordstore_lookup]
backend = gopass
