ansible==14.3.1
ansible-lint==26.6.0
molecule==26.6.0 # https://github.com/ansible/molecule/releases
molecule-plugins[podman]==26.7.15 # https://github.com/ansible-community/molecule-plugins/releases
