[general]
listen = "{{ acmedns_listen_address }}"
protocol = "{{ acmedns_listen_protocol }}"
domain = "{{ acmedns_domain }}"
nsname = "{{ acmedns_nsname }}"
{% if acmedns_nsadmin %}
nsadmin = "{{ acmedns_nsadmin }}"
{% endif %}
records = [
    "{{ acmedns_domain }}. A {{ acmedns_a_record }}",
    "{{ acmedns_domain }}. NS {{ acmedns_domain }}.",
{% for r in acmedns_extra_records %}
    "{{ r }}",
{% endfor %}
]
debug = {{ acmedns_debug | lower }}

[database]
engine = "{{ acmedns_db_engine }}"
connection = "{{ acmedns_db_connection }}"

[api]
ip = "{{ acmedns_api_ip }}"
port = "{{ acmedns_api_port }}"
disable_registration = {{ acmedns_disable_registration | lower }}
tls = "{{ acmedns_tls }}"
acme_cache_dir = "api-certs"
{% if acmedns_notification_email %}
notification_email = "{{ acmedns_notification_email }}"
{% endif %}
corsorigins = [
    "*"
]
use_header = {{ acmedns_use_header | lower }}
header_name = "X-Forwarded-For"

[logconfig]
loglevel = "{{ acmedns_log_level }}"
logtype = "stdout"
logformat = "text"
