---
apiVersion: projectcalico.org/v3
kind: FelixConfiguration
metadata:
  name: default
spec:
  bpfEnabled: {{ calico_ebpf_enabled | lower }}
  bpfExternalServiceMode: Tunnel
  bpfLogLevel: ""
  ipipEnabled: false
  logSeverityScreen: Info
  reportingInterval: 0s
  vxlanEnabled: false
  wireguardEnabled: false
  # https://github.com/kubernetes-sigs/kubespray/blob/93724ed29cb3347e8d92eb3af6491497f58333c5/docs/calico.md#optional--define-default-endpoint-to-host-action
  defaultEndpointToHostAction: Accept
