# Disable CSI
kubeletVolumePluginPath: None

installation:
  cni:
    type: Calico
  calicoNetwork:
    bgp: Enabled
{% if calico_ebpf_enabled %}
    linuxDataplane: BPF
{% else %}
    linuxDataplane: Iptables
{% endif %}
{% if all_net.talos.cidr_internal is defined %}
    nodeAddressAutodetectionV4:
      firstFound: false
      interface: "enx.+"
{% endif %}
{% if all_net.talos.cidr6_internal is defined %}
    nodeAddressAutodetectionV6:
      firstFound: false
      interface: "enx.+"
{% endif %}
    ipPools:
{% for cidr in subnets.talos.pod %}
      - cidr: {{ cidr }}
        encapsulation: None
        natOutgoing: Disabled
{% endfor %}
