---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: global-rb5009
spec:
  peerIP: {{ (hostvars['rb5009'].mt_routing_ids | selectattr('name', 'eq', 'vm') | first).id }}
  asNumber: {{ mt_bgp_peers[0].as }}

---
apiVersion: projectcalico.org/v3
kind: BGPConfiguration
metadata:
  name: default
spec:
  asNumber: 64528
  listenPort: 179
  logSeverityScreen: Info
  # API server times out if this is disabled
  nodeToNodeMeshEnabled: false
  serviceClusterIPs:
{% for cidr in subnets.talos.svc %}
    - cidr: {{ cidr }}
{% endfor %}
  serviceLoadBalancerIPs:
{% for cidr in subnets.talos.lb %}
    - cidr: {{ cidr }}
{% endfor %}
