# https://docs.cilium.io/en/stable/helm-reference/

# upgradeCompatibility: "1.15"

rollOutCiliumPods: true

# https://docs.cilium.io/en/stable/network/bgp-control-plane/bgp-control-plane/#bgp-control-plane
bgpControlPlane:
  enabled: true

# https://docs.cilium.io/en/stable/network/kubernetes/kubeproxy-free/#nodeport-devices-port-and-bind-settings
devices: "enp1s0"

# https://docs.cilium.io/en/stable/network/kubernetes/ipam-multi-pool/#enable-multi-pool-ipam-mode
autoDirectNodeRoutes: true
endpointRoutes:
  enabled: true
ipam:
  mode: multi-pool
  operator:
    autoCreateCiliumPodIPPools:
      default:
{% if subnets.talos.pod | ansible.utils.ipv4 %}
        ipv4:
          cidrs: {{ subnets.talos.pod | ansible.utils.ipv4 | to_json }}
          maskSize: 24
{% endif %}
{% if subnets.talos.pod | ansible.utils.ipv6 %}
        ipv6:
          cidrs: {{ subnets.talos.pod | ansible.utils.ipv6 | to_json }}
          maskSize: 80
{% endif %}
      monitoring:
{% if subnets.talos.mon | ansible.utils.ipv4 %}
        ipv4:
          cidrs: {{ subnets.talos.mon | ansible.utils.ipv4 | to_json }}
          # Add 3 to CIDR, i.e. /24 -> /27
          # Needs to be increased if there's more than 8 nodes in cluster.
          maskSize: {{ subnets.talos.mon | ansible.utils.ipv4 | first | ansible.utils.ipaddr('prefix') + 3 }}
{% endif %}
{% if subnets.talos.mon | ansible.utils.ipv6 %}
        ipv6:
          cidrs: {{ subnets.talos.mon | ansible.utils.ipv6 | to_json }}
          maskSize: 80
{% endif %}

kubeProxyReplacement: true
enableIPv4Masquerade: false
ipv4:
  enabled: {{ all_net.talos.cidr is defined }}
ipv4NativeRoutingCIDR: "{{ all_net.talos.cidr | default('') }}"
enableIPv6Masquerade: false
ipv6:
  enabled: {{ all_net.talos.cidr6 is defined }}
ipv6NativeRoutingCIDR: "{{ all_net.talos.cidr6 | default('') }}"
routingMode: native
loadBalancer:
  mode: dsr

hubble:
  relay:
    enabled: true
  ui:
    enabled: true

# Cannot use proxy-protocol selectively
# https://github.com/cilium/cilium/issues/41876
gatewayAPI:
  enabled: false

# Buggy
# https://github.com/cilium/cilium/issues/29967
ingressController:
  enabled: false

# Talos specific
# https://www.talos.dev/v1.11/kubernetes-guides/network/deploying-cilium/
k8sServiceHost: localhost
k8sServicePort: 7445
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
