machine:
  certSANs:
    - "{{ inventory_hostname }}.{{ domain }}"
  network:
    hostname: "{{ inventory_hostname }}"
    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ vm_default_mac }}"
        dhcp: true
        vip:
          ip: "{{ vips.vm.talos_cp | ansible.utils.ipv4 | first }}"
  nodeLabels: {{ node_labels | to_json }}
