cluster:
  network:
    podSubnets: {{ subnets.talos.pod | to_json }}
    serviceSubnets: {{ subnets.talos.svc | to_json }}
    cni:
      name: none
  proxy:
    disabled: {{ not talos_kubeproxy_enabled }}
    mode: {{ talos_kubeproxy_mode }}
    extraArgs:
      # Prometheus pod needs to be able to connect
      metrics-bind-address: "0.0.0.0:10249"

  # Needed for Prometheus, possibly fixeable?
  # https://github.com/prometheus-operator/kube-prometheus/issues/1517
  # https://github.com/prometheus-operator/prometheus-operator/issues/1859
  controllerManager:
    extraArgs:
      bind-address: "0.0.0.0"
  scheduler:
    extraArgs:
      bind-address: "0.0.0.0"

machine:
  install:
    image: "{{ talos_image }}"
    disk: /dev/disk/by-id/virtio-root01
    extraKernelArgs:
      - console=ttyS0
  network:
    nameservers: {{ vm_default_nic.dns_servers[:2] | to_json }}
  kubelet:
    nodeIP:
      validSubnets:
        - "{{ all_net[host_net].cidr }}"
    extraArgs:
      rotate-server-certificates: true
  features:
    kubePrism:
      enabled: {{ talos_kubeprism_enabled }}
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true
