machine:
  certSANs: {{ __mt_dns_entries_common | map(attribute='name') | to_json }}
  network:
    hostname: "{{ inventory_hostname }}"
    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ vm_default_mac }}"
        dhcp: true
{% if 'talos_cp' in group_names %}
        vip:
          ip: "{{ vips.talos.control_plane | ansible.utils.ipv4 | first }}"
{% endif %}
  nodeLabels: {{ node_labels | to_json }}

{% if 'talos_cp' in group_names %}
cluster:
  allowSchedulingOnControlPlanes: {{ talos_schedule_on_control_plane }}
  # https://www.talos.dev/v1.7/reference/configuration/v1alpha1/config/#Config.cluster.apiServer
  apiServer:
    admissionControl:
      - name: PodSecurity
        configuration:
         defaults:
          audit: baseline
          audit-version: latest
          enforce: baseline
          enforce-version: latest
          warn: baseline
          warn-version: latest
         exemptions:
          namespaces:
            # Adds to defaults (kube-system)
            - cilium-test
{% endif %}
