machine:
  kernel:
    modules:
      - name: zfs
{% if __nvidia_vm_pci_devices == vm_pci_devices %}
      # https://www.talos.dev/v1.11/talos-guides/configuration/nvidia-gpu/#enabling-the-nvidia-oss-modules
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
  sysctls:
    net.core.bpf_jit_harden: 1
{% endif %}
  certSANs: {{ __mt_dns_entries_common | map(attribute='name') | to_json }}
  network:
    hostname: "{{ inventory_hostname }}"
    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ vm_default_mac }}"
        addresses:
          - "{{ host_ips_with_prefix[host_net] }}"
        mtu: {{ all_net[host_net].mtu | default(1500) }}
        routes:
          - network: "0.0.0.0/0"
            gateway: "{{ hostvars['rb5009'].host_ips[host_net] }}"
            metric: 1024
{% if 'talos_cp' in group_names %}
        vip:
          ip: "{{ vips.talos.control_plane | ansible.utils.ipv4 | first }}"
{% endif %}
      - deviceSelector:
          hardwareAddr: "{{ vm_mac_san }}"
        addresses:
          - "{{ host_ips_with_prefix.san }}"
        mtu: {{ all_net.san.mtu }}
  nodeLabels: {{ node_labels | to_json }}
{% if 'talos_cp' in group_names %}
  features:
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
      - os:etcd:backup
      allowedKubernetesNamespaces:
      - kube-system
{% endif %}

{% if 'talos_cp' in group_names %}
cluster:
  allowSchedulingOnControlPlanes: {{ talos_schedule_on_control_plane }}
  etcd:
    advertisedSubnets:
      - "{{ all_net[host_net].cidr }}"
  # https://www.talos.dev/v1.11/reference/configuration/v1alpha1/config/#Config.cluster.apiServer
  apiServer:
    extraArgs:
      v: "2"  # INFO level https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md
    admissionControl:
      - name: PodSecurity
        configuration:
         defaults:
          audit: baseline
          audit-version: latest
          enforce: baseline
          enforce-version: latest
          warn: baseline
          warn-version: latest
         exemptions:
          namespaces:
            # Adds to defaults (kube-system)
            - cilium-test
{% endif %}
