machine:
  certSANs:
    - "{{ inventory_hostname }}.{{ domain }}"
  network:
    hostname: "{{ inventory_hostname }}"
    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ vm_default_mac }}"
        dhcp: true
  nodeLabels: {{ node_labels | to_json }}
