{{ ansible_managed | comment }}

[Unit]
Description=Cadvisor
Requires=network-online.target {{ cadvisor_required_services | join(' ') }}
After=network-online.target {{ cadvisor_required_services | join(' ') }}

[Service]
Type=simple
User=root
ExecStart={{ _cadvisor_binary_install_dir }}/cadvisor \
  --docker="unix:///run/docker.sock" \
  --logtostderr=true \
  --docker_only={{ cadvisor_docker_only }} \
  --listen_ip={{ cadvisor_listen_ip }} \
  --port={{ cadvisor_port }}
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
NoNewPrivileges=true
ProtectHome=read-only
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
