{{ ansible_managed | comment }}
{% if nginx_upstreams | selectattr('name', 'search', 'vouch') %}
server {
    listen 443 ssl;
    listen [::]:443 ssl http2;
    server_name login.{{ domain }};

    ssl_certificate {{ nginx_ssl_cert_main }};
    ssl_certificate_key {{ nginx_ssl_key_main }};

    access_log {{ nginx_sites_logs }}/access-login.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-login.{{ domain }}.log {{ nginx_error_log_options }};

    # Proxy to your Vouch instance
    location / {
        proxy_set_header  Host  login.{{ domain }};
        proxy_set_header  X-Forwarded-Proto https;
        proxy_pass        http://vouch;
    }
}
{% endif %}
