[deploy]
api_key = {{ certbot_deploy_api_key }}
cert_fqdn = {{ certbot_domains[0] }}
connect_host = localhost
verify = false
privkey_path = {{ certbot_deploy_privkey_path }}
fullchain_path = {{ certbot_deploy_fullchain_path }}
protocol = https://
port = 443
s3_enabled = true
ftp_enabled = false
webdav_enabled = false
cert_base_name = letsencrypt
