#!/bin/bash

echo "Renewing certificates"
cb_renew="$({{ __certbot_renew }} 2>&1)"
if [[ $? -ne 0 ]]; then
    echo "$cb_renew" >&2
    exit 1
fi

echo "$cb_renew"

cd /root/certbot

# Save checksums
sha256 {{ certbot_deploy_privkey_path }} {{ certbot_deploy_fullchain_path }} > current.sha256

# Deploy if checksums are different
if ! cmp --silent current.sha256 prev.sha256; then
    echo "Deploying certificates"
    cb_deploy="$(./deploy_freenas.py -c deploy.conf 2>&1)"
    if [[ $? -ne 0 ]]; then
        echo "$cb_deploy" >&2
        exit 1
    fi
    echo "$cb_deploy"
    cp -fv current.sha256 prev.sha256
fi

exit 0
