# Take snapshots
snap_src="{{ snap_src }}"
snap_dir="$snap_src/{{ snap_dir }}"
snap_subvols=(
{% for s in snap_subvols %}
    "{{ s }}"
{% endfor %}
)
{% raw %}
mkdir -p "$snap_dir"
for p in "${snap_subvols[@]}"; do
    # Target should not exist already
    rmdir "$snap_dir/$p" &>/dev/null || true
    # Cannot take read-only snapshots with nested structures
    btrfs subvolume snapshot "$snap_src/$p" "$snap_dir/$p"
done
# Set snapshots read-only
for p in "${snap_subvols[@]}"; do
    btrfs property set -ts "$snap_dir/$p" ro true
done
cd "$snap_dir"
{% endraw %}
