synoctl_key="/root/.ssh/id_ed25519.syno"
syno_ip="{{ hostvars['syno'].ansible_host }}"
syno_ssh_cmd="{{ hostvars['syno'].borg_ssh_check }}"
syno_wol_address="{{ hostvars['syno'].wol_address }}"

syno_is_up() {
    local attempt=0
    local retries=$1
    while [[ $attempt -lt $retries ]]; do
        if ping -q -n -c1 -W1 "$syno_ip" &>/dev/null && ssh -q -o "BatchMode=yes" -i "$synoctl_key" "$syno_ssh_cmd" ping &>/dev/null; then
            echo "Synology is up after $attempt attempts"
            return 0
        fi
        attempt=$(( attempt + 1 ))
        # Sleep so we don't spam SSH too much after ping succeeds
        sleep 1
    done
    return 1
}

syno_wake_if_needed() {
    local attempt=0
    local retries=$1
    if syno_is_up 1; then
        echo "Syno already up"
        return 0
    fi
    while [[ $attempt -lt $retries ]]; do
        wakeonlan -i "$syno_ip" "$syno_wol_address"
        # Wait 3 minutes for it to be up
        if syno_is_up 180; then
            echo "Synology responded to WOL after $attempt attempts"
            return 0
        fi
        attempt=$(( attempt + 1 ))
    done
    return 1
}

if ! syno_wake_if_needed 3; then
    echo "Cannot wake up Synology"
    exit 1
fi
