[Match]
Name=bond0

[Network]
{% for vid in all_net | dict2items | map(attribute='value') | selectattr('vlan', 'defined') | map(attribute='vlan') | sort %}
VLAN=bond0.{{ vid }}
{% endfor %}
LinkLocalAddressing=no
IPv6AcceptRA=no
