{%- set overrides = (host_bridge_config | default({})).get(name, {}) -%}
[Match]
Name={{ name | upper }}

[Network]
{% if name in host_ips_with_prefix %}
Address={{ host_ips_with_prefix[name] }}
{% if overrides.get('dns') %}
DNS={{ hostvars['rb5009'].host_ips[name] }}
DNS=1.1.1.1
DNS=8.8.8.8
{% endif %}

{% if overrides.get('route') %}
[Route]
{% if 'Gateway' not in overrides['route'] %}
Gateway={{ hostvars['rb5009'].host_ips[name] }}
{% endif %}
{% for k, v in overrides['route'].items() %}
{{ k }}={{ v }}
{% endfor %}
{% endif %}
{% else %}
LinkLocalAddressing=no
IPv6AcceptRA=no

[Link]
RequiredForOnline=no
{% endif %}
