{#
https://libvirt.org/formatsecret.html
private=no blocks virsh secret-get-value from working, which is used by Ansible
#}
<secret ephemeral='no' private='no'>
  <uuid>{{ libvirt_ceph_secret_uuid }}</uuid>
  <usage type='ceph'>
    <name>client.libvirt secret</name>
  </usage>
</secret>
