{{ ansible_managed | comment }}
# https://github.com/akpw/mktxp/blob/main/mktxp/cli/config/mktxp.conf
{% for name, config in mktxp_config.items() %}
[{{ name }}]
{% for k,v in config.items() %}
    {{ k }} = {{ v }}
{% endfor %}

{% endfor %}

[default]
    # this affects configuration of all routers, unless overloaded on their specific levels

    enabled = True          # turns metrics collection for this RouterOS device on / off
    hostname = localhost    # RouterOS IP address
    port = 8729             # RouterOS IP Port

    username = username     # RouterOS user, needs to have 'read' and 'api' permissions
    password = password

    use_ssl = True                  # enables connection via API-SSL servis
    no_ssl_certificate = False      # enables API_SSL connect without router SSL certificate
    ssl_certificate_verify = True   # turns SSL certificate verification on / off
    plaintext_login = True          # for legacy RouterOS versions below 6.43 use False

    installed_packages = False      # Installed packages
    dhcp = False                    # DHCP general metrics
    dhcp_lease = False              # DHCP lease metrics

    connections = False             # IP connections metrics
    connection_stats = False        # Open IP connections metrics

    interface = True                # Interfaces traffic metrics

    route = False                   # IPv4 Routes metrics
    pool = True                     # IPv4 Pool metrics
    firewall = False                # IPv4 Firewall rules traffic metrics
    neighbor = False                # IPv4 Reachable Neighbors

    ipv6_route = False              # IPv6 Routes metrics
    ipv6_pool = False               # IPv6 Pool metrics
    ipv6_firewall = False           # IPv6 Firewall rules traffic metrics
    ipv6_neighbor = False           # IPv6 Reachable Neighbors

    poe = False                     # POE metrics
    monitor = True                  # Interface monitor metrics
    netwatch = False                # Netwatch metrics
    public_ip = False               # Public IP metrics
    wireless = False                # WLAN general metrics
    wireless_clients = False        # WLAN clients metrics
    capsman = False                 # CAPsMAN general metrics
    capsman_clients = False         # CAPsMAN clients metrics

    kid_control_assigned = False    # Allow Kid Control metrics for connected devices with assigned users
    kid_control_dynamic = False     # Allow Kid Control metrics for all connected devices, including those without assigned user

    user = False                    # Active Users metrics
    queue = False                   # Queues metrics

    bgp = False                     # BGP sessions metrics

    remote_dhcp_entry = None        # An MKTXP entry to provide for remote DHCP info / resolution
    remote_capsman_entry = None     # An MKTXP entry to provide for remote capsman info

    use_comments_over_names = False # when available, forces using comments over the interfaces names

    check_for_updates = False       # check for available ROS updates
