# The URL through which GitLab will be accessed.
external_url "{{ gitlab_external_url }}"

# gitlab.yml configuration
gitlab_rails['time_zone'] = "{{ gitlab_time_zone }}"
gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }}
gitlab_rails['gitlab_email_enabled'] = true
gitlab_rails['gitlab_email_from'] = "gitlab@{{ domain }}"
gitlab_rails['gitlab_email_display_name'] = "Gitlab"
gitlab_rails['gitlab_email_reply_to'] = "no-reply@{{ domain }}"

# Default Theme
gitlab_rails['gitlab_default_theme'] = "{{ gitlab_default_theme }}"

# GitLab Nginx
## See https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/nginx.md
nginx['listen_port'] = "{{ gitlab_nginx_listen_port }}"
nginx['listen_https'] = true
nginx['proxy_protocol'] = true
nginx['real_ip_trusted_addresses'] = {{ gitlab_nginx_trusted_addresses | to_json }}
nginx['redirect_http_to_https'] = false
nginx['ssl_certificate'] = "{{ gitlab_ssl_certificate }}"
nginx['ssl_certificate_key'] = "{{ gitlab_ssl_certificate_key }}"

letsencrypt['enable'] = false

# The directory where Git repositories will be stored.
gitaly['configuration'] = {
  storage: [
    {
      name: 'default',
      path: '{{ gitlab_git_data_dir }}/repositories',
    },
  ],
}

# The directory where Gitlab backups will be stored
gitlab_rails['backup_path'] = "{{ gitlab_backup_path }}"

# These settings are documented in more detail at
# https://gitlab.com/gitlab-org/gitlab-ce/blob/master/config/gitlab.yml.example#L118
gitlab_rails['ldap_enabled'] = false

# Gitlab sshd
# https://docs.gitlab.com/ee/administration/operations/gitlab_sshd.html
gitlab_sshd['enable'] = true
gitlab_sshd['listen_address'] = '0.0.0.0:{{ gitlab_sshd_port }}'
gitlab_sshd['proxy_protocol'] = true
gitlab_sshd['proxy_policy'] = "require"

# Use smtp instead of sendmail/postfix
# More details and example configuration at
# https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/smtp.md
gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = "{{ postfix_relay_hostname }}"
gitlab_rails['smtp_port'] = 587
gitlab_rails['smtp_domain'] = "{{ domain }}"
gitlab_rails['smtp_enable_starttls_auto'] = true
gitlab_rails['smtp_openssl_verify_mode'] = "peer"

gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }}
gitlab_rails['backup_upload_connection'] = {
{% for k, v in gitlab_backup_upload_connection.items() %}
  '{{ k }}' => '{{ v }}',
{% endfor %}
}
# The directory inside the mounted folder to copy backups to
# Use '.' to store them in the root directory
gitlab_rails['backup_upload_remote_directory'] = '{{ gitlab_backup_upload_remote_directory }}'

# GitLab registry.
registry['enable'] = true
registry['registry_http_addr'] = "127.0.0.1:5005"
registry_external_url "{{ gitlab_registry_external_url }}"
registry_nginx['listen_port'] = {{ gitlab_registry_nginx_listen_port }}
registry_nginx['listen_https'] = true
registry_nginx['proxy_protocol'] = true
registry_nginx['real_ip_trusted_addresses'] = {{ gitlab_nginx_trusted_addresses | to_json }}
registry_nginx['redirect_http_to_https'] = false
registry_nginx['ssl_certificate'] = "{{ gitlab_ssl_certificate }}"
registry_nginx['ssl_certificate_key'] = "{{ gitlab_ssl_certificate_key }}"

node_exporter['listen_address'] = '{{ node_exporter_web_listen_address }}'
node_exporter['flags'] = {
  'collector.systemd' => true,
}
