---

# Debian uses a plain 'default' file
nginx_provisioning_synced_patterns: ["*"]
nginx_provisioning_synced_excludes:
  - "manual-*.conf"
  - "private-*.conf"

nginx_listen_v6: "::"
nginx_listen_http: |-
  listen {% if nginx_listen_v4 is defined %}{{ nginx_listen_v4 }}:{% endif %}80;
  listen [{{ nginx_listen_v6 }}]:80;

nginx_listen_https: |-
  listen {% if nginx_listen_v4 is defined %}{{ nginx_listen_v4 }}:{% endif %}443 ssl;
  listen [{{ nginx_listen_v6 }}]:443 ssl;

nginx_extra_conf_options: |
  stream {
    log_format main '$remote_addr [$time_local] '
                    '$protocol $status $bytes_sent $bytes_received '
                    '$session_time "$upstream_addr" '
                    '"$upstream_bytes_sent" "$upstream_bytes_received" "$upstream_connect_time"';

    upstream gitlab-ssh {
  {% for h in groups['gitlab'] %}
      server {{ hostvars[h].ansible_host }}:{{ hostvars[h].gitlab_sshd_port }};
  {% endfor %}
    }

    server {
      listen {% if nginx_listen_v4 is defined %}{{ nginx_listen_v4 }}:{% endif %}22;
      listen [{{ nginx_listen_v6 }}]:22;
      proxy_pass gitlab-ssh;
      proxy_protocol on;

      access_log {{ nginx_sites_logs }}/stream-gitlab-ssh.log {{ nginx_access_log_options }};
    }

  {% if pip_k8s_v4 is defined or pip_k8s_v6 is defined %}
    server {
  {% if pip_k8s_v4 is defined %}
      listen {{ pip_k8s_v4 }}:80;
      listen {{ pip_k8s_v4 }}:443;
  {% endif %}
  {% if pip_k8s_v6 is defined %}
      listen [{{ pip_k8s_v6 }}]:80;
      listen [{{ pip_k8s_v6 }}]:443;
  {% endif %}
      proxy_pass {{ k8s_ingress_public_address }}:$server_port;
      proxy_protocol on;

      access_log {{ nginx_sites_logs }}/stream-k8s.log {{ nginx_access_log_options }};
    }
  {% endif %}
  }
