{{ ansible_managed | comment }}
#======================= Global Settings =====================================
[global]
    workgroup = {{ samba_workgroup }}
    server role = {{ samba_server_role }}
{% if samba_hosts_allow | length > 0 %}
    hosts allow = {% for host in samba_hosts_allow %}{{ host }} {% endfor %}
{% endif %}

    logging = {{ samba_logging }}
{% if samba_logging == 'file' %}
    log file = {{ samba_log_file }}
    max log size = {{ samba_max_log_size }}
{% endif %}
{% if samba_interfaces | length > 0 %}
    interfaces = {% for iface in samba_interfaces %}{{ iface }} {% endfor %}
{% endif %}

{% for name, value in samba_extra_global_options.items() %}
    {{ name }} = {{ value | bool_to_yes }}
{% endfor %}

#============================ Share Definitions ==============================
{% for name, vars in samba_shares.items() %}

[{{ name }}]
{% for k, v in vars.items() %}
    {{ k }} = {{ v | bool_to_yes }}
{% endfor %}
{% endfor %}
