{% set __home_net_late_merge = {
  "vm": {
    "dhcp_range": subnets.vm.clients | ansible.utils.ipv4 | last | andrei.utils.routeros_dhcp_range(skip_last=1),
    "domain": "vm.{{ domains['hb'] }}",
  },
  "general": {
    "dhcp_range": subnets.general.clients | ansible.utils.ipv4 | last | andrei.utils.routeros_dhcp_range(skip_last=1),
    "domain": "gen.{{ domains['hb'] }}",
  },
  "public": {
    "dhcp_range": subnets.public.clients | ansible.utils.ipv4 | last | andrei.utils.routeros_dhcp_range(skip_last=1),
    "domain": "pub.{{ domains['hb'] }}",
  },
} %}

{% set __internal_net_late_merge = {
  "mgmt": {
    "dhcp_range": subnets.mgmt.clients | ansible.utils.ipv4 | last | andrei.utils.routeros_dhcp_range(skip_last=1),
    "domain": "man.{{ domains['hb'] }}",
  },
} %}

{% set __wg_net_late_merge = {
  "mt": {
    "domain": "mt.{{ domains['hb'] }}",
  },
} %}

home_net: {{ home_net | combine(__home_net_late_merge, recursive=true) }}
internal_net: {{ internal_net | combine(__internal_net_late_merge, recursive=true) }}
wg_net: {{ wg_net | combine(__wg_net_late_merge, recursive=true) }}
