{% set all_net = home_net | combine(internal_net, wg_net) %}
# Pretty nasty, might be easier with lists
{% set tmp = {} %}
{% for net_name, nets in vips.items() %}
{% set tmp2 = {} %}
{% for name, addrs in nets.items() %}
{% set tmp3 = [] %}
{% for addr in addrs %}
# Probably a nicer way of doing this without hardcoding the key names
{% for cidr in all_net | json_query('[*.cidr, *.cidr6, *.cidr_internal, *.cidr6_internal]') | flatten if addr is ansible.utils.in_network cidr %}
{{- tmp3.append(addr + "/" + cidr | ansible.utils.ipaddr('prefix') | string) -}}
{% endfor %}
{% endfor %}
{{- tmp2.update({name: tmp3}) -}}
{% endfor %}
{{- tmp.update({net_name: tmp2}) -}}
{% endfor %}
vips_with_prefix: {{ tmp }}
