{% set all_net = home_net | combine(internal_net, wg_net) %}
__subnet_overrides:
{% set __subnet_map = {
  "svc": 18,
  "pod": 18,
  "lb": 26,
  "mon": 26,
} %}
  kube: {{ all_net.kube | andrei.utils.subnets_from_map(__subnet_map, v6_size=64) }}
  talos: {{ all_net.talos | andrei.utils.subnets_from_map(__subnet_map, v6_size=64) }}

{% set __subnet_map = {
  "switches": 28,
  "hosts": 28,
  "_r1": 27,
  "trusted": 28,
  "webgw": 30,
  "_r2": 30,
  "_r3": 29,
  "rom": 28,
  "_r4": 28,
  "clients": 26,
} %}
  mt: {{ all_net.mt | andrei.utils.subnets_from_map(__subnet_map, v6_size=80) }}

__subnet_extensions:
{% set __subnet_map = {
  "k8s_cluster": 28,
  "localgw": 30,
  "pg": 30,
  "pgbackrest": 31,
  "gitlab": 31,
  "gitrun": 30,
  "loki": 30,
  "minio": 30,
  "nextcloud": 31,
  "docker": 31,
  "prom": 31,
  "_r1": 31,
  "talos": 28,
  "_r2": 26,
  "_r3": 27,
  "_r4": 28,
  "clients": 28,
} %}
  vm: {{ all_net.vm | andrei.utils.subnets_from_map(__subnet_map, v4_start=63, v6_prefix_skip=3, v6_size=80) }}

{% set __subnet_map = {
  "trusted": 28,
  "noinet": 28,
  "_r1": 27,
  "clients": 25,
} %}
  general: {{ all_net.general | andrei.utils.subnets_from_map(__subnet_map, v4_start=48, v6_prefix_skip=3, v6_size=80) }}

{% set __subnet_map = {
  "ipmi": 27,
  "_r1": 27,
  "clients": 25,
} %}
  mgmt: {{ all_net.mgmt | andrei.utils.subnets_from_map(__subnet_map, v4_start=32, v6_prefix_skip=3, v6_size=80) }}
