{{ ansible_managed | comment }}
[Unit]
Description={{ conf.timer_description | default('Scheduled borg backup for ' + conf.name) }}

[Timer]
OnCalendar={{ conf.oncalendar | default('*-*-* ' + ansible_date_time.time) }}
Persistent={{ conf.persistent | bool_to_yes('yes') }}

[Install]
WantedBy=timers.target
