{{ ansible_managed | comment }}
[Unit]
Description={{ item.timer_description | default('Scheduled borg backup for ' + item.name) }}

[Timer]
OnCalendar={{ item.oncalendar | default('*-*-* ' + ansible_date_time.time) }}
Persistent={{ item.persistent | bool_to_yes('yes') }}

[Install]
WantedBy=timers.target
