# https://docs.gitea.com/administration/config-cheat-sheet
[DEFAULT]
APP_NAME = Gitea: Git with a cup of tea
RUN_USER = git
RUN_MODE = prod
WORK_PATH = /var/lib/gitea

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ gitea_secret_key }}
INTERNAL_TOKEN = {{ gitea_internal_token }}

[oauth2]
ENABLED = false
# Crashes on startup if missing, even though it's disabled
JWT_SECRET = {{ gitea_oauth2_jwt_secret }}

[ui]
DEFAULT_THEME = gitea-auto

[database]
DB_TYPE  = sqlite3

[repository]
ROOT = /home/git/gitea-repositories

[server]
DISABLE_SSH      = false
SSH_DOMAIN       = {{ gitea_domain }}
SSH_PORT         = 22
START_SSH_SERVER = false
DOMAIN           = {{ gitea_domain }}
PROTOCOL         = http
HTTP_ADDR        = 0.0.0.0
HTTP_PORT        = {{ gitea_port }}
ROOT_URL         = %(PROTOCOL)s://%(DOMAIN)s/
LFS_START_SERVER = true
LFS_JWT_SECRET   = {{ gitea_jwt_secret }}
OFFLINE_MODE     = false

[lfs]
PATH = /var/lib/gitea/data/lfs

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
DISABLE_REGISTRATION              = true
ALLOW_ONLY_EXTERNAL_REGISTRATION  = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply.{{ gitea_domain }}

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = true

[openid]
ENABLE_OPENID_SIGNIN = false
ENABLE_OPENID_SIGNUP = false

[session]
PROVIDER = memory

[cache]
ENABLED = true
ADAPTER = memory
INTERVAL = 60

[log]
MODE      = file
LEVEL     = Warn
ROOT_PATH = /var/log/gitea
