# For more information on configuration, see http://nginx.org/en/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;
load_module /usr/lib64/nginx/modules/ngx_http_dav_ext_module.so;
load_module /usr/lib64/nginx/modules/ngx_rtmp_module.so;
include /srv/web/conf/rtmp.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 4096;
    gzip                on;
    server_tokens	    off;

    include             /etc/nginx/mime.types;
    include		        /etc/nginx/cloudflare;
    default_type        application/octet-stream;

    ssl_certificate	          /srv/web/certs/dresrv_cert.pem;
    ssl_certificate_key	      /srv/web/certs/dresrv_key.pem;
    ssl_protocols             TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*.conf;
}
