[DEFAULT]
ignoreself = {{ fail2ban_ignoreself }}
ignoreip = {{ fail2ban_ignoreip | join(' ') }}

bantime  = {{ fail2ban_bantime }}
findtime  = {{ fail2ban_findtime  }}
maxretry = {{ fail2ban_maxretry  }}

backend = systemd

[sshd]
enabled  = true
logpath  = %(sshd_log)s
backend  = %(sshd_backend)s
{% if ansible_port != 22 %}
port     = {{ ansible_port }}
{% endif %}
{% for k, v in fail2ban_sshd_extra.items() %}
{{ k }} = {{ v }}
{% endfor %}

{% if ansible_selinux.status == 'enabled' %}
[selinux-ssh]
enabled  = true
logpath  = %(auditd_log)s

{% endif %}
[nginx-http-auth]
enabled	= true
port    = http,https
logpath = %(nginx_error_log)s
