---

wireguard_interface: "mt"
wireguard_addresses:
  - "{{ wireguard_ip }}/{{ wg_net[host_wg_net].cidr | ansible.utils.ipaddr('prefix') | string }}"

wireguard_dns_list:
  - "{{ hostvars['rb5009'].wireguard_ip }}"
  - "{{ domains['hb'] }}"
  - "{{ all_net.vm.domain }}"
  - "{{ all_net.mgmt.domain }}"
  - "{{ all_net.talos.domain }}"

wireguard_mt_allowed_ips:
  - "{{ all_net | json_query('*.cidr') }}"
  - "{{ subnets.talos.lb }}"

wireguard_dns: "{{ wireguard_dns_list | join(', ') }}"
wireguard_private_key: "{{ lookup('community.general.passwordstore', 'network/' + inventory_hostname + '_wg_pk') }}"
wireguard_public_key: "{{ vault_wireguard_public_key }}"

wireguard_unmanaged_peers:
  mt:
    endpoint: "{{ hostvars['rb5009'].wireguard_endpoint }}"
    allowed_ips: "{{ wireguard_mt_allowed_ips | flatten | join(', ') }}"
    public_key: "{{ hostvars['rb5009'].wireguard_public_key }}"
    preshared_key: "{{ lookup('community.general.passwordstore', 'network/' + inventory_hostname + '_wg_psk_mt') }}"
