---

firewalld_zones:
  - name: public
    interfaces: "{{ host_nic_names }}"

  - name: cluster
    sources: "{{ subnets.vm.prom + subnets.mt.webgw }}"

  - name: trusted
    sources: "{{ firewall_trusted_sources }}"

firewalld_services:
  - name: cockpit
    zone: public
    state: absent

  - name: samba-client
    zone: public
    state: absent

firewall_rules:
  # Reverse proxies
  - port: "{{ grafana_port }}"
    sources: "{{ subnets.vm.localgw }}"
  # Group ports
  - port: "{{ grafana_port }}"
    zone: cluster
  - port: "{{ node_exporter_port }}"
    zone: cluster
  - port: "{{ alertmanager_port }}"
    zone: cluster
  - port: "{{ prometheus_port }}"
    zone: cluster
  - port: "{{ ipmi_exporter_port }}"
    zone: cluster
  - port: "{{ pushgateway_port }}"
    zone: cluster
  - port: "{{ mktxp_port }}"
    zone: cluster
  - port: "{{ alertmanager_peer_port }}"
    protocol: tcp
    zone: cluster
  - port: "{{ alertmanager_peer_port }}"
    protocol: udp
    zone: cluster
  # rsyslog from MGMT
  - port: 514
    protocol: tcp
    sources: "{{ all_net.mgmt | json_query('[cidr, cidr6]') | flatten }}"
  - port: 514
    protocol: udp
    sources: "{{ all_net.mgmt | json_query('[cidr, cidr6]') | flatten }}"
  # rsyslog from UDR7
  - port: 514
    protocol: tcp
    sources: ["{{ hostvars['udr7'].ansible_host }}", "{{ hostvars['udr7'].wireguard_ip }}"]
  - port: 514
    protocol: udp
    sources: ["{{ hostvars['udr7'].ansible_host }}", "{{ hostvars['udr7'].wireguard_ip }}"]
  # Loki sends alerts too
  - port: "{{ alertmanager_port }}"
    sources: "{{ subnets.vm.loki }}"
  # Ceph
  - port: "{{ prometheus_port }}"
    sources: "{{ subnets.vm.hosts }}"
  - port: "{{ alertmanager_port }}"
    sources: "{{ subnets.vm.hosts }}"
