---

vm_cpus: 12
vm_mem: 12288
vm_host: "{{ vm_host_list[groups['talos'] | ansible.utils.index_of('eq', inventory_hostname) % (vm_host_list | length)] }}"
vm_template: ""
vm_customize: false
vm_mac_san: "{{ '52:54:{:02x}'.format(all_net.san.vlan) | community.general.random_mac(seed=inventory_hostname) }}"
vm_root_size: "100G"
vm_nics:
  - "{{ vm_default_nic }}"
  - type: bridge
    source:
      dev: "SAN"
    mac: "{{ vm_mac_san }}"

vm_pci_devices: >-
  {%- if vm_host in groups['ms01'] -%}
  {{ __igpu_vm_pci_devices }}
  {%- elif vm_host == 'theia' -%}
  {{ __nvidia_vm_pci_devices }}
  {%- else -%}
  {{ [] }}
  {%- endif -%}

__igpu_vm_pci_devices:
  - address:
      domain: "0x0000"
      bus: "0x00"
      slot: "0x02"
      function: "0x0"

__nvidia_vm_pci_devices:
  - address:
      domain: "0x0000"
      bus: "0x01"
      slot: "0x00"
      function: "0x0"
  - address:
      domain: "0x0000"
      bus: "0x01"
      slot: "0x00"
      function: "0x1"

vm_extra_disks:
  - name: "talos-boot.iso"
    type: "file"
    target: "vdb"
    device: "cdrom"
    format: "raw"

  # Used by OpenEBS ZFS provisioner
  - type: block
    device: disk
    format: raw
    dev: "/dev/vg01/k8s"
    serial: "raw01"
    target: "vdc"
    driver_options:
      discard: "unmap"
      cache: "none"
