[Unit]
Description=Serial proxy using socat
After=network-online.target
ConditionPathExists={{ serial_proxy_src }}

[Service]
ExecStart=/usr/bin/socat tcp-listen:{{ serial_proxy_port }},reuseaddr,fork FILE:{{ serial_proxy_src }},rawer,b{{ serial_proxy_baud }}

[Install]
WantedBy=default.target
