{{ ansible_managed | comment }}

[Unit]
Description=Thanos {{ item.name | title }}
Requires=network-online.target {{ item.services | join(' ') }}
After=network-online.target {{ item.services | join(' ') }}

[Service]
Type=simple
User={{ thanos_user }}
Group={{ thanos_group }}
ExecStart={{ thanos_binary_install_dir }}/thanos {{ item.name }} \
{% for k, v in item.args.items() %}
  --{{ k }}={{ v }} \
{% endfor %}
{% for e in item.endpoints | default([]) %}
  --endpoint={{ e }} \
{% endfor %}
  --log.level={{ item.log_level | default(thanos_log_level) }}
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65000
NoNewPrivileges=true
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths={{ thanos_work_dir }}
{% if 'tsdb.path' in item.args %}
ReadWritePaths={{ item.args['tsdb.path'] }}
{% endif %}

[Install]
WantedBy=multi-user.target
