<pool type='netfs'>
  <name>theia</name>
  <source>
    <host name='{{ hostvars['theia'].host_ips.san }}'/>
    <dir path='/srv/libvirt'/>
    <format type='auto'/>
  </source>
  <target>
    <path>/var/lib/libvirt/theia</path>
    <permissions>
      <mode>0755</mode>
      <owner>0</owner>
      <group>0</group>
      <label>system_u:object_r:nfs_t:s0</label>
    </permissions>
  </target>
</pool>
