module keepalived_docker 1.0;

require {
        type container_var_run_t;
        type bin_t;
        type keepalived_t;
        class file setattr;
        class sock_file write;
}

#============= keepalived_t ==============
allow keepalived_t bin_t:file setattr;
allow keepalived_t container_var_run_t:sock_file write;
