[Unit]
Description=dht exporter
After=network-online.target

[Service]
ExecStart={{ dht_exporter_path }}/venv/bin/python3 {{ dht_exporter_path }}/dht_exporter.py \
    --gpio {{ dht_exporter_gpio_pin }} \
    --room {{ dht_exporter_room | quote }} \
    --pull_time {{ dht_exporter_pull_time }} \
    --port {{ dht_exporter_port }}

[Install]
WantedBy=default.target
