---

sshd_allowed_root: []
sshd_permit_root: "no"

sshd_config_group:
  - regexp: "^#?StrictModes"
    line: "StrictModes yes"
  - regexp: "^#?AllowAgentForwarding"
    line: "AllowAgentForwarding yes"
  - regexp: "^#?X11Forwarding"
    line: "X11Forwarding no"
  - regexp: "^#?PermitRootLogin"
    line: "PermitRootLogin {{ sshd_permit_root }}"
  - regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication no"
  - regexp: "^#?PermitEmptyPasswords"
    line: "PermitEmptyPasswords no"
  - regexp: "^#?ChallengeResponseAuthentication"
    line: "ChallengeResponseAuthentication no"
  - regexp: "^#?TCPKeepAlive"
    line: "TCPKeepAlive yes"
  - regexp: "^#?ClientAliveInterval"
    line: "ClientAliveInterval 30"
  - regexp: "^#?ClientAliveCountMax"
    line: "ClientAliveCountMax 3"

sshd_config: "{{ (sshd_config_group | default([])) + (sshd_config_host | default([])) }}"

sshd_extra_config: |
  Match Address {{ firewall_trusted_sources | join(',') }}
    PermitRootLogin prohibit-password
