{{ ansible_managed | comment }}
[Unit]
Description=Cleanup ZFS Pool
Requires=zfs.target
After=zfs.target
After=sanoid.service
ConditionFileNotEmpty={{ sanoid_config_dir }}/sanoid.conf

[Service]
Environment=TZ=UTC
Type=oneshot
ExecStart={{ sanoid_bin_dir }}/sanoid --prune-snapshots --verbose

[Install]
WantedBy=sanoid.service
