{{ ansible_managed | comment }}

###########################
# modules below this line #
###########################
{% for path, vars in sanoid_backup_modules.items() %}

[{{ path }}]
{% for k, v in vars.items() %}
    {{ k }} = {{ v | andrei.utils.bool_to_yes }}
{% endfor %}
{% endfor %}

#############################
# templates below this line #
#############################
{% for name, vars in sanoid_backup_templates.items() %}

[template_{{ name }}]
{% for k, v in vars.items() %}
    {{ k }} = {{ v | andrei.utils.bool_to_yes }}
{% endfor %}
{% endfor %}
