{{ ansible_managed | comment }}
[Unit]
Description=Sync {{ item.1.name }}
Requires=zfs.target
After=zfs.target
{% if item.1.extra_unit is defined %}
{{ item.1.extra_unit }}
{% endif %}

[Service]
Environment=HOME=/root
ExecStart={{ sanoid_bin_dir }}/syncoid \
{% for o in item.1.options %}
    {{ o }} \
{% endfor %}
    "{{ item.1.src }}" "{{ item.1.dest }}"
{% if item.1.extra_service is defined %}
{{ item.1.extra_service }}
{% endif %}

[Install]
WantedBy=multi-user.target
