{{ ansible_managed | comment }}

{% if btrbk_timer_description is defined %}
[Unit]
Description=btrbk {{ btrbk_timer_description }} backup
{% endif %}

[Timer]
OnCalendar={{ btrbk_timer_oncalendar }}
