{{ ansible_managed | comment }}
server {
    listen {{ nginx_listen_v4 }}:80;
    server_name {{ item.server_name }}.{{ domain }};

    root {{ web_root }}/direct;

    access_log {{ nginx_sites_logs }}/access-{{ item.server_name }}.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-{{ item.server_name }}.{{ domain }}.log {{ nginx_error_log_options }};

    location /adminer {
        index index.php;
        try_files $uri $uri/ /index.php?$args;
        {% for a in firewall_trusted_sources %}
        allow {{ a }};
        {% endfor %}
        deny all;
    }

    location ~ \.php$ {
        include /etc/nginx/fastcgi_params;
        fastcgi_pass php-fpm;
        # fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location /pip {
        alias {{ pip_wheel_dir | default(web_root + '/pip') }};
        autoindex on;
    }
}
