{{ ansible_managed | comment }}
{% set domain = domains['dv'] %}
server {
    listen {{ nginx_listen_v4 }}:{{ nginx_ports[item.server_name] }};

    root {{ web_root }}/main;
    index index.html index.php index.cgi;

    access_log {{ nginx_sites_logs }}/access-{{ item.server_name }}.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-{{ item.server_name }}.{{ domain }}.log {{ nginx_error_log_options }};

    location ~ \.php$ {
        include /etc/nginx/fastcgi_params;
        fastcgi_pass php-fpm;
        # fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location / {
        try_files $uri $uri/ $uri.html $uri.php$is_args$query_string;
    }

    # Disable hidden files
    location ~ /\. {
        deny all;
        return 403;
    }

    # Block private
    location /private {
        deny all;
        return 403;
    }

    location /pip/ {
        alias {{ pip_wheel_dir | default(web_root + '/pip') }}/;
        autoindex on;
    }
}
