{{ ansible_managed | comment }}
{% if nginx_upstreams | selectattr('name', 'search', 'ceph-dashboard') %}
{% set domain = domains['hb'] %}
server {
    listen 80;
    listen [::]:80;
    server_name ceph.{{ domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name ceph.{{ domain }};

    ssl_certificate /etc/lego/certificates/{{ domain }}.crt;
    ssl_certificate_key /etc/lego/certificates/{{ domain }}.key;

    access_log {{ nginx_sites_logs }}/access-ceph.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-ceph.{{ domain }}.log {{ nginx_error_log_options }};

    {{ firewall_trusted_sources | map('regex_replace', '(.+)', 'allow \\1;') | join('\n') | indent(4) }}
    deny all;

    proxy_next_upstream error timeout http_503;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass https://ceph-dashboard/;
    }
}
{% endif %}
{% if nginx_upstreams | selectattr('name', 'search', 'ceph-rgw') %}
{% set domain = domains['hb'] %}
server {
    listen 80;
    listen [::]:80;
    server_name rgw.{{ domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name rgw.{{ domain }};

    ssl_certificate /etc/lego/certificates/{{ domain }}.crt;
    ssl_certificate_key /etc/lego/certificates/{{ domain }}.key;

    client_max_body_size 0;
    access_log {{ nginx_sites_logs }}/access-rgw.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-rgw.{{ domain }}.log {{ nginx_error_log_options }};

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://ceph-rgw/;
    }
}
{% endif %}
