{{ ansible_managed | comment }}
{% if nginx_upstreams | selectattr('name', 'search', 'gitlab') %}
{% set domain = hostvars['gitlab01'].domain %}
server {
    {{ nginx_listen_http | indent(4) }}
    server_name gitlab.{{ domain }};
    return 301 https://$host$request_uri;
}

server {
    {{ nginx_listen_https | indent(4) }}
    http2 on;
    server_name gitlab.{{ domain }};

    ssl_certificate /etc/lego/certificates/{{ domain }}.crt;
    ssl_certificate_key /etc/lego/certificates/{{ domain }}.key;

    access_log {{ nginx_sites_logs }}/access-gitlab.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-gitlab.{{ domain }}.log {{ nginx_error_log_options }};

    location / {
        client_max_body_size 0;
        gzip off;

        ## https://github.com/gitlabhq/gitlabhq/issues/694
        ## Some requests take more than 30 seconds.
        proxy_read_timeout      300;
        proxy_connect_timeout   300;
        proxy_redirect          off;

        proxy_http_version 1.1;

        proxy_set_header    Host                $http_host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-Ssl     on;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto   $scheme;

        proxy_pass              http://gitlab/;
    }
}
{% endif %}
