{{ ansible_managed | comment }}
{% if nginx_upstreams | selectattr('name', 'search', 'vouch') %}
{% set domain = domains['dv'] %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ item.server_name }}.{{ domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ item.server_name }}.{{ domain }};

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    ssl_dhparam {{ nginx_dhparam }};

    access_log {{ nginx_sites_logs }}/access-{{ item.server_name }}.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-{{ item.server_name }}.{{ domain }}.log {{ nginx_error_log_options }};

    # Proxy to your Vouch instance
    location / {
        proxy_set_header  Host  {{ item.server_name }}.{{ domain }};
        proxy_set_header  X-Forwarded-Proto https;
        proxy_pass        http://vouch;
    }
}
{% endif %}
