{{ ansible_managed | comment }}
{% if nginx_upstreams | selectattr('name', 'search', 'photoprism') %}
{% set domain = item.domain | default(domains['dv']) %}
server {
    listen 80;
    listen [::]:80;
    server_name photoprism.{{ domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name photoprism.{{ domain }};

    client_max_body_size 500M;

    ssl_certificate /etc/lego/certificates/{{ domain }}.crt;
    ssl_certificate_key /etc/lego/certificates/{{ domain }}.key;

    access_log {{ nginx_sites_logs }}/access-photoprism.{{ domain }}.log {{ nginx_access_log_options }};
    error_log {{ nginx_sites_logs }}/error-photoprism.{{ domain }}.log {{ nginx_error_log_options }};

    location / {
        client_max_body_size 500M;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_pass http://{{ item.upstream_name | default('photoprism') }}/;
    }
}
{% endif %}
