#!/bin/sh
#
# /etc/rc.d/rc.filebeat
#
# Start/stop/restart the filebeat daemon, a lightweight shipper for forwarding and centralizing log data.
{{ ansible_managed | comment }}

filebeat_start() {
  if [ -x {{ __filebeat_exec | split | first }} ]; then
    echo "Starting filebeat:  {{ __filebeat_exec | trim }} &"
    {{ __filebeat_exec | trim }} &
  fi
}

filebeat_stop() {
    killall filebeat
}

filebeat_restart() {
  filebeat_stop
  sleep 1
  filebeat_start
}

case "$1" in
'start')
  filebeat_start
  ;;
'stop')
  filebeat_stop
  ;;
'restart')
  filebeat_restart
  ;;
*)
  echo "Usage: $0 {start|stop|restart}"
esac

