{{ ansible_managed | comment }}

[Unit]
Description=Prometheus exporter for smartctl
Documentation=https://github.com/prometheus-community/smartctl_exporter
After=network-online.target

[Service]
ExecStart=/usr/local/bin/smartctl_exporter \
{% for k, v in smartctl_exporter_config.items() %}
  --{{ k }}={{ v }} \
{% endfor %}
  --web.listen-address={{ smartctl_exporter_listen_address }}
ReadOnlyPaths=/dev
PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

[Install]
WantedBy=default.target
