#!/bin/sh

# https://gist.github.com/Jimmy-Z/6120988090b9696c420385e7e42c64c4?permalink_comment_id=4474039#gistcomment-4474039

# Remove seperate networks from default bridge
brctl delif br0 {{ merlin_tagged_port }}
{% for item in merlin_guest_interfaces %}
brctl delif br0 {{ item.name }}
{% endfor %}

# Add VLANs
{% for name in ([host_net] + merlin_guest_interfaces | map(attribute='vlan')) | unique %}
ip link add link {{ merlin_tagged_port }} name {{ merlin_tagged_port }}.{{ all_net[name | lower ].vlan }} type vlan id {{ all_net[name | lower ].vlan }}
ip link set {{ merlin_tagged_port }}.{{ all_net[name | lower].vlan }} up
{% endfor %}

# Default network [{{ host_net | upper }}]
ifconfig br0 {{ ansible_host }} netmask {{ all_net[host_net].cidr | ansible.utils.ipaddr('netmask') }}
brctl addif br0 {{ merlin_tagged_port }}.{{ all_net[host_net].vlan }}
nvram set lan_ifnames="{{ merlin_access_ports | join(' ') }} {{ merlin_tagged_port }}.{{ all_net[host_net].vlan }}"
nvram set br0_ifnames="{{ merlin_access_ports | join(' ') }} {{ merlin_tagged_port }}.{{ all_net[host_net].vlan }}"

{% for conf in merlin_guest_interfaces %}
{%- set br_name = 'br' + (loop.index | string) -%}
# Guest network {{ loop.index }} [{{ conf.vlan | upper }}]
brctl addbr {{ br_name }}
brctl addif {{ br_name }} {{ merlin_tagged_port }}.{{ all_net[conf.vlan | lower].vlan }}
brctl addif {{ br_name }} {{ conf.name }}
ip link set {{ br_name }} up
nvram set lan{{ loop.index }}_ifnames="{{ conf.name }} {{ merlin_tagged_port }}.{{ all_net[conf.vlan | lower].vlan }}"
nvram set {{ br_name }}_ifnames="{{ conf.name }} {{ merlin_tagged_port }}.{{ all_net[conf.vlan | lower].vlan }}"
nvram set lan{{ loop.index }}_ifname="{{ br_name }}"
nvram set {{ br_name }}_ifname="{{ br_name }}"
nvram set {{ conf.name }}_ap_isolate=1
wl -i {{ conf.name }} ap_isolate 1

{% endfor %}
# Restart eapd
killall eapd
eapd
