[Match]
Name={{ name }}

[Network]
{% for a in addresses %}
Address={{ a }}
{% endfor %}
{% for d in dns_servers | default([]) %}
DNS={{ d }}
{% endfor %}

[Link]
MTUBytes={{ mtu }}

[Route]
Gateway={{ gateway }}
Scope=global
