[Unit]
Description=promtail is the agent responsible for gathering logs and sending them to Loki.
Documentation=https://github.com/grafana/loki/blob/master/docs/promtail.md

[Service]
Restart=always
User={{ promtail_user }}
ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/config.yml
ExecReload=/bin/kill -HUP $MAINPID

TimeoutStopSec=30s
LimitNOFILE=65536

NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictRealtime=true

ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths={{ promtail_read_paths | join(' ') }}
ReadWritePaths={{ promtail_workdir }}
PrivateTmp=true

PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
