{{ ansible_managed | comment }}
[Unit]
Description=Update acme-dns dynamic DNS firewall rules
Requires=network-online.target {{ acmedns_firewall }}.service
After=network-online.target nss-lookup.target {{ acmedns_firewall }}.service

[Service]
SuccessExitStatus=100
ExecStart=/usr/local/bin/acme-dns-manage-firewall \
  --firewall {{ acmedns_firewall }} \
  --firewalld-zone {{ acmedns_firewalld_zone }} \
  --log-level info \
  --log-no-timestamp \
  --port {{ acmedns_api_port }} \
  {{ acmedns_firewall_domains | join(' ') }}
