{{ ansible_managed | comment }}
[Unit]
Description=Renew LetsEncrypt certificates
Requires=network-online.target
After=network-online.target

[Service]
{% if not certbot_renew_pre_script %}
ExecStart={{ __certbot_renew }}
{% else %}
ExecStart=/usr/local/bin/certbot-renew
{% endif %}
