vouch:
  logLevel: warn
  testing: false

  listen: {{ vouch_listen_address }}
  port: {{ vouch_listen_port }}

  allowAllUsers: {{ vouch_allow_all_users }}
  publicAccess: {{ vouch_public_access }}

{% if not vouch_allow_all_users %}
  domains:
{% for v in vouch_domains %}
  - {{ v }}
{% endfor %}
{% endif %}

{% if not vouch_public_access %}
  whiteList:
{% for v in vouch_whitelist %}
  - {{ v }}
{% endfor %}
{% endif %}

oauth:
{% for k, v in vouch_oauth.items() %}
  {{ k }}: {{ v }}
{% endfor %}
