{{ ansible_managed | comment }}

[Unit]
Description=Vouch Proxy
After=network-online.target
Requires=nginx.service
After=nginx.service

[Service]
Type=simple
User={{ vouch_user }}
Environment=VOUCH_ROOT={{ vouch_data_dir }}
ExecStart={{ vouch_bin_dir }}/{{ vouch_bin_name }} -config {{ vouch_config_dir }}/config.yml
Restart=always
NoNewPrivileges=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
