[Unit]
Description=Sync Withings to Garmin
After=network-online.target
Requires=network-online.target
StartLimitIntervalSec=50
StartLimitBurst=3

[Service]
Type=simple
User=withings-sync
Restart=on-failure
RestartSec=10min
WorkingDirectory=/opt/withings-sync
EnvironmentFile=/etc/default/withings-sync
ExecStart=/opt/withings-sync/venv/bin/withings-sync
