---

ddns_domain: "{{ vault_ddns_domain }}"
domain: "{{ vault_domain }}"
syncthing_port: "{{ vault_syncthing_port }}"
cadvisor_port: "9101"
# Running in Docker
node_exporter_installed: false
nfs_idmapping_configure: false
postfix_main_config: []

prometheus_smartctl_targets: ["{{ smartctl_exporter_listen_address }}"]
prometheus_node_targets: ["{{ ansible_host + ':' + node_exporter_port | string }}"]
prometheus_node_labels:
  instance: "RomeoTV"

prometheus_cadvisor_targets: ["{{ ansible_host }}:{{ cadvisor_port }}"]

user_scripts_path: "/boot/config/plugins/user.scripts/scripts"
data_disk:
  dev: "/dev/disk/by-label/datassd01"
  path: "/mnt/disks/datassd01"
persistent_disk:
  dev: "/dev/disk/by-label/pstore"
  path: "/pstore"
swap_disk: "/dev/disk/by-uuid/eee1d5fb-be1e-4344-a1c7-9a3d3d990b53"
ssd_mount_opts: "space_cache=v2,compress-force=zstd,relatime,ssd,discard=async"

__host_ips_1:
  ipmi: "10.1.0.60"
