#!/usr/bin/env -S ansible-playbook
---

- name: Upgrade OS with dnf or apt
  hosts: servers, !romsto, !syno, !talos, !udr7
  gather_facts: true
  become: true
  strategy: free
  tasks:
    - name: Upgrade with dnf # noqa package-latest
      ansible.builtin.dnf:
        name: '*'
        state: latest
        update_cache: true
      register: __dnf_result
      notify: Reboot
      when: ansible_os_family == 'RedHat'

    - name: Upgrade with apt
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
      register: __apt_result
      notify: Reboot
      when: ansible_os_family == 'Debian'

    - name: Print dnf results
      ansible.builtin.debug:
        msg: "{{ __dnf_result.results }}"
      when:
        - __dnf_result is defined
        - __dnf_result.results | default([])

    - name: Print apt results
      ansible.builtin.debug:
        msg: "{{ __apt_result.stdout_lines }}"
      when:
        - __apt_result is defined
        - __apt_result.stdout_lines | default([])

  handlers:
    - name: Reboot
      ansible.builtin.reboot:
      when: auto_reboot | default(false) | bool
