{% set staging = item.staging | default(false) %}
{% set suffix = staging | ternary('staging', 'live') %}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ item.key }}-{{ suffix }}
spec:
  acme:
{% if staging %}
    server: "https://acme-staging-v02.api.letsencrypt.org/directory"
{% else %}
    server: "https://acme-v02.api.letsencrypt.org/directory"
{% endif %}
    email: "{{ my_email_alt }}"
    privateKeySecretRef:
      name: {{ item.key }}-{{ suffix }}
    solvers:
      - selector:
          dnsZones:
{% for zone in item.zones | default([domains[item.key]]) %}
            - "{{ zone }}"
{% endfor %}
        dns01:
          cnameStrategy: Follow
          rfc2136:
            nameserver: "{{ lego_rfc2136_nameserver }}"
            tsigKeyName: "ansible_{{ item.key }}"
            tsigAlgorithm: "HMACSHA256"
            tsigSecretSecretRef:
              name: tsig-secret
              key: {{ item.key }}-key
