---

controller:
  watchIngressWithoutClass: true
  ingressClassByName: true
  kind: DaemonSet
  service:
    externalTrafficPolicy: Local
    type: LoadBalancer
    loadBalancerIP: "{{ vips[kube_name].nginx | ansible.utils.ipv4 | first }}"
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
