---

extraArgs:
  - -client.external-labels=host=$(HOSTNAME)

config:
  logLevel: warn
  clients:
    - url: "{{ promtail_clients[0].url }}"
  snippets:
    extraScrapeConfigs: |
      {{ promtail_scrape_configs | to_nice_yaml(indent=2) | indent(6) }}

# Override default mount to include all of /var/log
defaultVolumes:
  - name: run
    hostPath:
      path: /run/promtail
  - name: logs
    hostPath:
      path: /var/log
  - name: machine-id
    hostPath:
      path: /etc/machine-id

defaultVolumeMounts:
  - name: run
    mountPath: /run/promtail
  - name: logs
    mountPath: /var/log
    readOnly: true
  - name: machine-id
    mountPath: /etc/machine-id
    readOnly: true
