{{ ansible_managed | comment }}

server {
    listen 80;
    server_name *.{{ netmaker_domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name dashboard.{{ netmaker_domain }};
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    ssl_dhparam {{ nginx_dhparam }};
    location / {
        proxy_pass http://127.0.0.1:8082;
     }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name api.{{ netmaker_domain }};
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    ssl_dhparam {{ nginx_dhparam }};

    location / {
        proxy_pass http://127.0.0.1:8081;
        proxy_set_header                Host api.{{ netmaker_domain }};
        proxy_pass_request_headers      on;
    }
}

server {
    listen 443 ssl http2;
    server_name grpc.{{ netmaker_domain }};
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    ssl_dhparam {{ nginx_dhparam }};

    # Forces the header to be the one that is visible from the outside
    proxy_set_header                Host api.{{ netmaker_domain }};

    # Pass all headers through to the backend
    proxy_pass_request_headers      on;

    location / {
        grpc_pass grpc://127.0.0.1:50051;
    }
}
