---

__firewalld_services_1:
  - name: dns
    zone: internal

  - name: smtp
    zone: internal
    sources: "{{ __postfix_networks | flatten }}"

  - name: smtps
    zone: internal
    sources: "{{ __postfix_networks | flatten }}"

  - name: smtp-submission
    zone: internal
    sources: "{{ __postfix_networks | flatten }}"

__firewall_rules_1:
  # Alertmanager cluster
  - port: "{{ alertmanager_port }}"
    zone: internal
    sources: "{{ subnets.vm.prom + firewall_trusted_sources }}"
  - port: "{{ prometheus_port }}"
    zone: internal
    sources: "{{ subnets.vm.prom }}"
  - port: "{{ alertmanager_peer_port }}"
    protocol: tcp
    zone: internal
    sources: "{{ subnets.vm.prom }}"
  - port: "{{ alertmanager_peer_port }}"
    protocol: udp
    zone: internal
    sources: "{{ subnets.vm.prom }}"

  - port: "{{ postfix_exporter_port }}"
    zone: internal
    sources: "{{ node_exporter_allow_ips }}"

  # https://doc.crowdsec.net/docs/next/observability/prometheus
  - port: "6060"
    zone: internal
    sources: "{{ node_exporter_allow_ips }}"

firewalld_rich_rules:
  - zone: public
    rich_rule: 'rule service name="dns" accept limit value="30/s"'

mt_firewall_address_lists:
  - address: "{{ wireguard_ip }}"
    list: smtp
