{{ ansible_managed | comment }}

[Unit]
Description=Postgres Exporter
Requires=network-online.target {{ postgres_exporter_required_services | join(' ') }}
After=network-online.target {{ postgres_exporter_required_services | join(' ') }}

[Service]
Type=simple
User=postgres
Group=postgres
Environment=DATA_SOURCE_NAME="user=postgres host={{ postgres_exporter_host }} sslmode={{ postgres_exporter_ssl }}"
ExecStart={{ _postgres_exporter_binary_install_dir }}/postgres_exporter --web.listen-address={{ postgres_exporter_web_listen_address }}
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
